#imatge{
    position: relative;
    border: 1px solid white;
    width: 600px;
    height: 600px;
}


.cuadro1, .cuadro5, .cuadro7, .cuadro10, .cuadro12
{
    background-color: green;
}

.cuadro2, .cuadro4, .cuadro6, .cuadro9, .cuadro11
{
    background-color: greenyellow;
}

.cuadro3, .cuadro8
{
    background-color: black;
}

.cuadro1{
    border: 2px solid white;
    float: left;
    width: 67%;
    height: 12%;

}

.cuadro2{
    border: 1px solid white;
    float: right;
    width: 32%;
    height: 12%;

}


.cuadro3{
    border: 2px solid white;
    float: left;
    width: 32%;
    height: 23%;

}

.cuadro4{
    border: 3px solid white;
    float: left;
    width: 32%;
    height: 23%;

}

.cuadro5{
    border: 2px solid white;
    float: right;
    width: 190px;
    height: 67px;

}

.cuadro6{
    border: 2px solid white;
    float: right;
    width: 190px;
    height: 67px;

}
.cuadro7{
    border: 1px solid white;
    float: left;
    width: 66%;
    height: 12%;

}

.cuadro9{
    border: 1px solid white;
    float: left;
    width: 66%;
    height: 12%;

}

.cuadro8{
    border: 1px solid white;
    float: right;
    width: 33%;
    height: 24.5%;

}

.cuadro10{
    border: 1px solid white;
    float: left;
    width: 33%;
    height: 12%;

}

.cuadro11{
    border: 1px solid white;
    float: left;
    width: 33%;
    height: 12%;

}

.cuadro12{
    border: 1px solid white;
    float: left;
    width: 33%;
    height: 12%;

}