#title{
    background-color: blue;
    color: white;
    width: 100%;
    text-align: center;
}

#segtit{
    background-color: white;
    color: darkturquoise;
    width: 100%;
    text-align: center;
    font-size: 50px;
    border: solid black 1px;
}

#div2{
    text-align: center;
    border: solid black 1px;
}

h5{
    color: black;
    font-weight: 300;
}

p{
    color: black;
    font-weight: 100
}

.c1{
    background-color: grey;
    height: 50%

}

.c2{
    background-color: orange;
}

.c3{
    height: 25%;
    background-color: cyan;
}

.c4{
    height: 25%;
    background-color: darkseagreen;
} 

.c5{
    height: 25%;
    background-color: blue;
}

.c6{
    height: 25%;
    background-color: green;
}

footer{
    background-color: green;
    color: white;
    width: 100%;
    text-align: center;
    font-size: 2em;

.quitar{
    margin-right: 0px;
    margin-left: 0px;

}

@media screen and (max-width:768px){

    footer{
        font-size: 1em;
    }
}
