/*1era part */
#contain_wrapper
{
    margin: auto;
    width: 900px
}

header
{
    background-color: bisque
}

header img
{
    width: 25%;
    height: 50px;
}

#tituloprincipal
{
    display: inline-block; 
    background-color: green
}

header h1
{
    font: serif;
    font-size: 2.5em;
    font-weight: normal
}

header h2
{
    font: Verdana;
    font-size: 1.1em;
    margin-top: 0px;
    font-weight: normal
}


/*2na part */

nav
{
    display: inline-block;
    width: 540px;
    text-align: right;

}

nav ul
{
    list-style-type: none;
}

nav li
{
    display: inline-block;
    margin-right:15px;

}

nav a
{
    font-size: 1.3em;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover
{
    color: #760001;
    border-bottom: 3px solid #760001;
    border-top: 3px solid #760001;
}

/*3ra part */


#banner_image
{
    background: url('imatges/sanfrancisco.jpg') no-repeat;
    height: 200px; 
    margin-top: 5px;
    position: relative;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 25px;
    box-shadow: 0px 4px 4px orange;
    color: purple;

}

#banner_description
{
    position: absolute;
    border-radius: 0px 0px 5px 5px;
    width: 99,5%;
    height: 33px;
    padding-top: 15px;
    padding-left:4px ;
    color: white;
    font-size: 0.8em;
    background-color: rgba(24,24,24,0.8);
    bottom: 1px;


}

.red_button
{
    display: inline-block;
    height: 25px;
    position: absolute;
    right:5px;
    bottom: 5px;
    background: url('imatges/red_background.png') repeat-x;
    border: 1px solid #760001;
    border-radius: 5px;
    font-size: 1.2em;
    text-align: center;
    padding: 3px 8px 0px 8px;
    color: white;
    text-decoration: none;
}


/* part 4*/

article, aside
{
    display: inline-block;
    text-align: justify;
    vertical-align: top;
    margin-right: 5px;


}

article
{
    width: 625px;
    margin-right: 8px;

}

.ico_categorie
{
    margin-right: 8px;
    vertical-align: middle;
} 


article p
{
    font-size: 0.8em
}


aside
{
    width: 235px;
    background-color: gray;
    box-shadow: 0px 2px 5px gray;
    padding: 10px;
    color: white;
    font-size: 0.9em;
    margin-right: 5px;

}

aside h1
{
    margin-right: 5px;

}

#arrow
{
    top: 25px;
    left: 250px;
}

#zozor_picture
{
    text-align: center

}

aside img /*separo les imatges entre si*/
{
    margin-right: 5px;

}

#autor{
    border: 1px solid #181818;

}


/* part 5*/

#tweet, #my_pictures, #my_friends
{
    display: inline-block;
    vertical-align: top;
}


#tweet
{
    width: 28%;

}

#my_pictures
{
    width: 35%;

}

#my_friends
{
    width: 31%;
   

}

#my_pictures img
{


}

#fotos{
    display:inline-block;
    margin-top: 0px;
    width: 48%;
    padding-right: 2px; 
}
