.principal
{
    background-color: burlywood;
}
.licencias
{
    background-color: chocolate;
}
.pais
{
    background-color: green;
}
.enviar
{
    background-color: yellowgreen
}

.info
{
    background-color: white
}